@charset "UTF-8";
#wrap {
	width:800px;
	margin:auto;
}

header {
	height:80px;
}

.contents {
	min-height:300px;
}

footer {
	height:100px;
}

.footer {
	font-size:20px;
	font-weight:bold;
}

.store {
	border:2px solid #5bc0de;
	border-radius:5px;
	height:120px;
}

.store-name {
	font-size:24px;
	font-weight:bold;
}

