<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="ko">
<head>
    <meta charset="utf-8">
    <title>배탈의 민족</title>
    <!-- bootstrap -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css" integrity="sha384-xOolHFLEh07PJGoPkLv1IbcEPTNtaed2xpHsD9ESMhqIYd0nLMwNLD69Npy4HI+N" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.7.1.js" integrity="sha256-eKhayi8LEQwp4NKxN+CfCh+3qOVUtJn3QNZ0TciWLP4=" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-Fy6S3B9q64WdZWQUiU+q4/2Lc9npb8tCaSX9FK7E8HnRr0Jz8D6OP9dO5Vg3Q9ct" crossorigin="anonymous"></script>
    
    <link rel="stylesheet" type="text/css" href="/css/lesson05/quiz05_style.css">
</head>
<body>
	<div id="wrap">
		<header class="bg-info d-flex align-items-center pl-3">
			<h2 class="text-white font-weight-bold">배탈의 민족</h2>
		</header>
		<section class="contents">
			<div class="display-4 pt-1 pb-3">우리동네 가게</div>
			<div th:each="history, status : ${storeList}">
				<a th:href="|reviews-view?storeId=${status.count}&storeName=${history.name}|">
					<div class="store pl-3 d-flex align-items-center mb-3">
						<div>
							<div th:text="${history.name}" class="store-name pb-2"></div>
							<div th:text="'전화 번호 : ' + ${history.phoneNumber}"></div>
							<div th:text="'주소 : ' + ${history.address}"></div>
						</div>
					</div>
				</a>
			</div>
		</section>
		<footer>
			<hr>
			<div class="footer mb-1">(주)우와한형제</div>
			<div class="text-secondary">고객센터 : 1500-1500</div>
		</footer>
	</div>
</body>
</html>