<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="ko">
<head>
    <meta charset="utf-8">
    <title>즐겨찾기 추가</title>
    <!-- bootstrap -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css" integrity="sha384-xOolHFLEh07PJGoPkLv1IbcEPTNtaed2xpHsD9ESMhqIYd0nLMwNLD69Npy4HI+N" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.7.1.js" integrity="sha256-eKhayi8LEQwp4NKxN+CfCh+3qOVUtJn3QNZ0TciWLP4=" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-Fy6S3B9q64WdZWQUiU+q4/2Lc9npb8tCaSX9FK7E8HnRr0Jz8D6OP9dO5Vg3Q9ct" crossorigin="anonymous"></script>
</head>
<body>
	<div class="container">
		<h2 class="font-weight-bold">즐겨 찾기 추가하기</h2>
		<div class="form-group">
			<label for="name">제목</label>
			<input type="text" id="name" class="form-control">
		</div>
		<div class="form-group">
			<label for="url">주소</label>
			<div class="d-flex justify-content-between">
				<input type="text" id="url" class="form-control col-11">
				<button id="urlCheckBtn" class="btn btn-info">중복확인</button>
			</div>
			<small id="duplicateText" class="text-danger d-none">중복된 URL 입니다.</small>
			<small id="availableText" class="text-success d-none">저장 가능한 URL 입니다.</small>
		</div>
		<input type="button" id="joinBtn" value="추가" class="btn btn-success form-control">
	</div>
	
	<script>
		$(document).ready(function() {
			$("#urlCheckBtn").on("click", function() {
				$("#urlStateArea").empty();
				
				let url = $("#url").val().trim();
				
				if(!url) {
					alert("주소를 입력하세요.");
					return;
				}
				
				$.ajax({
					// request
					type:"post"
					, url:"/lesson06/quiz01/is-duplicate-url"
					, data:{"url":url}
					
					// response
					, success:function(data) {
						// {"code":200, "is_duplicate_url":true}   -> 중복
						// {"code":200, "is_duplicate_url":false}   -> 중복 아님
						// {"code":500, "error_message":"에러 원인"}   -> 로직 에러 상황
						if (data.code == 500) {
							alert(data.error_message);
						} else if (data.code == 200) {
							if (data.is_duplicate_url) { // 중복일 때
								$("#duplicateText").removeClass("d-none");
								$("#availableText").addClass("d-none");
							} else { // 사용 가능
								$("#duplicateText").addClass("d-none");
								$("#availableText").removeClass("d-none");
							}
						}
					}
					, error:function(error) {
						alert("url 중복확인에 실패했습니다.");
					}
				});
			});
			
			$("#joinBtn").on("click", function() {
				// validation
				let name = $("#name").val().trim();
				let url = $("#url").val().trim();
				
				if (name.length < 1) {
					alert("제목을 입력하세요.");
					return;
				}
				
				if (url.length < 1) {
					alert("url을 입력하세요.");
					return;
				}
					
				if (!url.startsWith("http://") && !url.startsWith("https://")) {
					alert("http 또는 https 프로토콜을 입력하세요.");
					return;
				}
				
				// avaliableText d-none이 있는게 -> 추가 불가
				if ($("#availableText").hasClass("d-none")) {
					alert("URL 중복확인을 해주세요.");
					return;
				}
				
				console.log(name);
				console.log(url);
				
				$.ajax({
					// request
					type:"post"
					, url:"/lesson06/quiz01/add-bookmark"
					, data:{"name":name, "url":url}
				
					// response
					, success:function(data) { // jquery의 $.ajax()가 JSON String -> parsing => js dictionary로
						// alert("성공")
						/*if (data == "성공") {
							location.href="/lesson06/quiz01/bookmark-list-view"
						}*/
						if (data.code == 200) {
							// 성공 => 목록 화면 이동
							location.href = "/lesson06/quiz01/bookmark-list-view"; // get request
						}
					}
					, error:function(e) {
						alert("즐겨찾기 추가에 실패했습니다.")
					}
				});
			});
		});
	</script>
</body>
</html>